absl-py==2.1.0
ale-py==0.8.1
alembic==1.13.1
altgraph==0.17.2
arch==5.3.0
asttokens==2.1.0
AutoROM==0.4.2
AutoROM.accept-rom-license==0.6.1
backcall==0.2.0
box2d-py==2.3.5
cachetools==5.3.2
certifi==2023.11.17
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.2
cloudpickle==3.0.0
colorama==0.4.6
colorlog==6.8.2
contourpy==1.2.0
cycler==0.12.1
DataProperty==1.0.1
debugpy==1.6.3
decorator==4.4.2
entrypoints==0.4
etils==1.6.0
executing==1.2.0
Farama-Notifications==0.0.4
filelock==3.13.1
Flask==2.1.1
fonttools==4.47.2
fsspec==2023.12.2
future==0.18.2
glfw==2.6.5
google-auth==2.27.0
google-auth-oauthlib==1.2.0
greenlet==3.0.3
grpcio==1.60.0
gym==0.26.2
gym-notices==0.0.8
gymnasium==0.29.1
huggingface-hub==0.20.3
huggingface-sb3==3.0
idna==3.6
imageio==2.33.1
imageio-ffmpeg==0.4.9
importlib-resources==6.1.1
ipykernel==6.17.0
ipython==8.6.0
itsdangerous==2.1.2
jedi==0.18.1
Jinja2==3.1.1
joblib==1.3.2
jupyter_client==7.4.4
jupyter_core==4.11.2
kiwisolver==1.4.5
Mako==1.3.2
Markdown==3.5.2
markdown-it-py==3.0.0
MarkupSafe==2.1.1
matplotlib==3.8.2
matplotlib-inline==0.1.6
mbstrdecoder==1.1.3
mdurl==0.1.2
moviepy==1.0.3
mpmath==1.3.0
mujoco==2.3.0
nest-asyncio==1.5.6
networkx==3.2.1
numpy==1.26.3
oauthlib==3.2.2
opencv-python==4.9.0.80
optuna==3.5.0
packaging==21.3
pandas==2.2.0
parso==0.8.3
pathvalidate==3.2.0
patsy==0.5.6
pefile==2021.9.3
pickleshare==0.7.5
pillow==10.2.0
proglog==0.1.10
prompt-toolkit==3.0.32
property-cached==1.6.4
protobuf==4.23.4
psutil==5.9.3
pure-eval==0.2.2
pyasn1==0.5.1
pyasn1-modules==0.3.0
pygame==2.1.0
Pygments==2.13.0
pyinstaller==4.10
pyinstaller-hooks-contrib==2022.3
PyOpenGL==3.1.7
pyparsing==3.0.9
pytablewriter==1.2.0
python-dateutil==2.8.2
pytz==2023.4
pywin32==304
pywin32-ctypes==0.2.0
PyYAML==6.0.1
pyzmq==24.0.1
requests==2.31.0
requests-oauthlib==1.3.1
rich==13.7.0
rl-zoo3==2.2.1
rliable==1.0.8
rsa==4.9
sb3-contrib==2.2.1
scipy==1.12.0
seaborn==0.13.2
Shimmy==0.2.1
six==1.16.0
SQLAlchemy==2.0.25
stable-baselines==2.10.2
stable-baselines3==2.2.1
stack-data==0.6.0
statsmodels==0.14.1
swig==4.1.1.post1
sympy==1.12
tabledata==1.3.3
tcolorpy==0.1.4
tensorboard==2.15.1
tensorboard-data-server==0.7.2
torch==2.1.2
tornado==6.2
tqdm==4.66.1
traitlets==5.5.0
typepy==1.3.2
typing_extensions==4.9.0
tzdata==2023.4
urllib3==2.1.0
wasabi==1.1.2
wcwidth==0.2.5
Werkzeug==2.1.1
zipp==3.17.0
